---
import "../styles/global.css";

const {id, title, description, image, link} = Astro.props;
---

<div class="project" id={id}>
    <img src={image} alt="Project card image" />
    <div class="description">
        <h3>{title}</h3>
        <p>{description}</p>
    </div>
</div>

<style>
    .project {
		max-width: 350px;
		height: 225px;
		background-color: var(--background);
		filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.75));
		transition: all 0.25s ease-in-out;
		& .description {
			transition: all 0.25s ease-in-out;	
		}
	}

	.project:hover {
		cursor: pointer;
		
		.description {
			color: var(--dark);
			background-color: var(--white);
		}
	}

	.project img {
		max-height: 100px;
		object-fit: cover;
	}

    .project h3 {
        height: 25%;
    }

	.project .description {
        height: 100%;
		padding: 5px 25px;
		gap: 12px;
		text-align: center;
	}
</style>